@media screen and (max-width: 768px) {
    .hero{
        grid-template-columns: minmax(300px, 500px);
    }
    .dishes{
        grid-template-columns: repeat(auto-fit, minmax(150px, 100px));
    }
}
@media screen and (min-width: 1224px) {
    .dishes{
        grid-template-columns: repeat(4, minmax(150px, 200px));
    }
}